# =========================================
# Database
# =========================================
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# =========================================
# Hibernate
# =========================================
DDL_AUTO=update

# =========================================
# JWT
# =========================================
JWT_SECRET=
JWT_ISSUER=AUTHSERVICE

# =========================================
# Google OAuth
# =========================================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# =========================================
# Gemini
# =========================================
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_VISION_MODEL=gemini-2.5-flash

# =========================================
# Eureka
# =========================================
EUREKA_SERVER_URL=http://localhost:8761/eureka/

# =========================================
# Service URLs
# =========================================
FILE_SERVICE_URL=http://localhost:8081/api
FOLDER_SERVICE_URL=http://localhost:8082/api
USER_SERVICE_URL=http://localhost:8082

# =========================================
# OAuth
# =========================================
OAUTH_REDIRECT_URI=http://localhost:5173/oauth2/redirect
OAUTH_FAILURE_REDIRECT_URI=http://localhost:5173/auth?error=true

# =========================================
# CORS
# =========================================
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# =========================================
# File Storage
# =========================================
FILE_STORAGE_PATH=
TEMP_STORAGE_PATH=