# ======================
# Java
# ======================
**/target/
**/*.class
**/.mvn/

# ======================
# IDE
# ======================
.idea/
.vscode/
*.iml

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# Environment
# ======================
.env
.env.*

!.env.example

# ======================
# Node
# ======================
frontend/node_modules/
frontend/dist/

# ======================
# Uploads
# ======================
**/uploads/
**/ai-service-uploads/
**/ai-service-temp/

# ======================
# Build
# ======================
**/build/
**/out/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db